# Gedit backup files
*~
# Vim backup files
*.swp

# secret keys files
/src/*/secret_keys.py

#############################
# Github's Python gitignore #
#############################
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

################
# Custom Rules #
################
